<!DOCTYPE html>
<html>
    <head>
      <title><%= title %></title>
    </head>
    <body>
    <h1><%= title %></h1>

    <% if (locals.users) { %>
        <% if (locals.users.length > 0) { %>
            <% for (let user of users) { %>
                <li>
                  ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>
                  Email: <%= user.email %>
                  Age: <%= user.age %>
                  Bio: <%= user.bio %>
                  <a href="/<%= user.id %>/update">Update User</a>
                  <form action="<%= user.id %>/delete" method="POST" style="display: inline">
                      <button 
                      type="submit" 
                      onClick='return confirm("Do you really want to delete this user? ")'
                        >
                          Delete
                      </button>
                  </form>
                </li>
            <% } %>
        <% } else {  %>
            No users found.
        <% } %>
    <% } %>
    </body>
</html>

